@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  @apply text-base text-black bg-bg-color;
  font-family: "JetBrains Mono", monospace;
}

.disable {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.2 !important;
}

.open-menu {
  opacity: 1;
  transform: scale(1);
}

.close-menu {
  opacity: 0;
  transform: scale(0.8);
}